/*---------------------------
    GENERAL
---------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.body-content {
    margin: 70px 50px;
}
.defaultBtnAit {
    font-family: 'Oswald', sans-serif;
    padding: 10px 30px;
    margin: 15px;
    text-transform: uppercase;
}
.blue {
    background-color: #75D6D4;
}
.yellow {
    background-color: #E7FA92;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

/*---------------------------
    NAVIGATION
---------------------------*/
.navbar {
    padding: 20px 40px;
    background-color: #E7FA92;
    border: 0;
}
.navbar img {
    width: 20%;
    height: 20%;
}
.navigationDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navTitle {
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
/*---------------------------
    HOME PAGE
---------------------------*/

.column {
    margin: 50px;
}

/*---------------------------
    QUESTION TEMPLATE
---------------------------*/

#questionLabel {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
#radioList input{
    
}
.questionRow {
    background-color: #EFEFEF;
    padding: 50px;
}

/*---------------------------
    SEARCH PAGE
---------------------------*/

.searchDiv {
    margin: 40px 0;
}
.searchPageButton {
    width: 100%;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border: 0;
    border-radius: 5px 5px 0 0;
    margin: 7px 0;
}
.foldOutContainer {
    margin-top: -7px;
    padding: 40px;
    background-color: #EFEFEF;
    border-radius: 0 0 5px 5px;
}