/*---------------------------
    GENERAL
---------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.body-content {
    margin: 70px auto;
}
.defaultBtnAit {
    font-family: 'Oswald', sans-serif;
    padding: 10px 30px;
    margin: 15px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
}
.blue {
    background-color: #75D6D4;
}
.yellow {
    background-color: #E7FA92;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

/*---------------------------
    NAVIGATION
---------------------------*/
.navbar {
    padding: 20px 40px;
    background-color: #E7FA92;
    border: 0;
}
.navbar img {
    width: 20%;
    height: 20%;
}
.navigationDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navTitle {
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
/*---------------------------
    HOME PAGE
---------------------------*/

.column {
    margin: 50px;
}
    .column h4 {
        font-size: 1.2em;
    }
.containerHomePage {
    margin: 70px auto;
}

/*---------------------------
    QUESTION TEMPLATE
---------------------------*/

#questionLabel {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
#radioList input{
    
}
.questionRow {
    background-color: #EFEFEF;
    padding: 50px;
}

/*---------------------------
    SEARCH PAGE
---------------------------*/

.searchDiv {
    margin: 40px 0;
}
.searchPageButton {
    width: 100%;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border: 0;
    border-radius: 5px 5px 0 0;
    margin: 7px 0;
}
.foldOutContainer {
    margin-top: -7px;
    padding: 40px;
    background-color: #EFEFEF;
    border-radius: 0 0 5px 5px;
}

/*---------------------------
    LOGIN PAGE
---------------------------*/

.loginDiv {
    width: 600px;
    margin: 60px auto;
    background-color: #EFEFEF;
    text-align: center;
    padding: 60px 100px;

}
.loginDiv img {
    width: 200px;
    height: auto;   
    margin: 10px 0 15px 0;   
}
.loginDiv h2 {
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 30px 0;
    font-size: 1.9em;
}
.loginInputs {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}
.loginInputs input {
    margin: 10px;
    width: 100%;
}
.input {
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
.loginDiv a {
    color: black;
    margin: 30px 0 0 0;
}